body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px
}

#container{
max-width: 500px;
margin: auto;
}

a{
  color:red;
  font-style:italic;
}

a:hover{
  color:orange;
  font-style:italic;
}
